.container-fluid,
.menu{
    background-color: #E95420;
}

header.header {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header > .header__title {
    color: #E95420;
    z-index: 5;
}

.header > .header__title > h1 {
    font-size: 4rem;
}

.header__title  a{
    color: #E95420;
    font-weight: italic;
    text-decoration: none;
}

.header__title a:hover{
    color: #606061;
}
